*{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* background-color: rgb(224, 54, 111); */
}

body{
	box-sizing: border-box;
	width: 100%;
	padding: 0;
	color: rgb(85, 84, 84);
}

.primary-header{
	display: flex;
}

.sub-header{
	display: flex;
}

.left{
	width: 60%;
}

.right{
	width: 40%;
}
.top-list{
	margin: 30px;
	background-color: white;
	position: relative;
	top: 20px;
	left: 50%;
	transform: translate(-20px -50%);
	-webkit-transform: translate(-20px -50%);
	-moz-transform: translate(-20px -50%);
	-ms-transform: translate(-20px -50%);
	-o-transform: translate(-20px -50%);
}

.textbox{
	position: absolute;	
	top: 25%;
	left: 50px;
}

.text{
	display: block;
	font-weight: 100;
	font-style: normal;
}

.textbox2{
	position: absolute;
	top: 45%;
	left: 50px;
	width: 60%;
	font-weight: 200;
	font-style: normal;
	font-size: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 30px;
}

.btn{
	position: absolute;
	top: 75%;
	left: 50px;
	background-color: rgb(224, 54, 111);
	padding: 20px 45px;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-ms-border-radius: 80px;
	-o-border-radius: 80px;
	color: white;
	width: 10%;
}

.btn:hover,
 .btn:visited,
 .btn:link{
	transform: translateY(-2px);
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}

.btn:active{
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.btn::after{
	content: "";
	height: 100%;
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-ms-border-radius: 80px;
	-o-border-radius: 80px;
	z-index: -1;
	transition: all .7s;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
}

.btn:hover::after{
	background-color: rgb(224, 54, 111);
	opacity: 0;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}

.image{
	position: absolute;
	left: 45%;
	width: 50%;
	height: 85%;
}
 
